<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductInquiryRecordMapper">
    
    <resultMap type="com.ruoyi.system.domain.SysProductInquiryRecord" id="BaseResultMap">
        <id     property="id"              column="id"                />
        <result property="name"            column="name"              />
        <result property="email"           column="email"             />
        <result property="mobile"          column="mobile"            />
        <result property="remark"          column="remark"            />
        <result property="deleted"         column="deleted"           />
        <result property="creatorId"       column="creator_id"        />
        <result property="creatorUsername" column="creator_username"  />
        <result property="createTime"      column="create_time"       />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, name, email, mobile, remark, deleted, creator_id, creator_username, create_time
    </sql>

    <!-- 查询列表 -->
    <select id="selectProductInquiryRecordList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_product_inquiry_record
        where deleted = 0
        <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="email != null and email != ''">
            and email like concat('%', #{email}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            and mobile like concat('%', #{mobile}, '%')
        </if>
        order by create_time desc
    </select>

</mapper>